/*Header*/
.indice {
    position: absolute;
}

.indice li {
    display: inline-block;
    list-style-type: none;
    padding-left: 90;
}

.indice a {
    text-decoration: none;
    color: rgb(255, 255, 255, .5);
}

.indice a:hover {
    color: #fff;
    font-size: larger;
    font-weight: bolder;
}

.fotoprincipal{
    background-image:url(children-ga17bc7c54_1920.jpg);
    height: 300;
    background-size: cover;
    background-position: center top;
    color: #ffffff;
}

.titulo{
    position: absolute;
    margin-top: 8%;
    margin-left: 3%;
    text-align: left;
    font-size: 55;
    text-shadow: 5px 5px 5px #000;
}

.subtitulo{
    position: absolute;
    margin-top: 10%;
    margin-left: 2%;
    font-size: 25;
    text-align: left;
}

body{
    background-color: #a30c2c;
    margin: 0;
}

hr{
    margin: 25;
}

/*Seção com a ODS*/
.livro{
    height: 30%;
    position: absolute;
    top: 340;
}

.Educação{
    font-size: 30;
    color: #ffffff;
    text-align: right;
    margin: 30;
}

.ods4{
    color: #ffffff;
    font-size: 20;
    text-align: right;
    margin: 35;
}

.linha{
    position: relative;
    top: 40;
}

/*Botões*/
.menu li{
    display: inline-block;
    list-style-type: none;
    font-size: 20;
    margin-right: 20;
    border: 2px solid #ffffff;
    border-radius: 8px;
    position: relative;
    top: 40;
}

.Quersaber li{
    border: 2px solid #fff;
    border-radius: 8px;
    width: fit-content;
}

.menu a, .Quersaber a{
    background-color: rgba(0,0,0, .3);
    padding: 8;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border-radius: 8px;
}

.menu a:hover, .Quersaber a:hover{
    background-color: rgba(0,0,0, .8);
}

.menu, .Quersaber{
    text-align: center;
}


/*Metas*/
.metas{
    position: relative;
    top: 50;
}
.metas header{
    background-color: #ffffff;
    height: 40;
    margin-right: 60%;
}

.metas h3{
    color: #a30c2c;
    font-size: 25;
    text-align: right;
    margin: 20;
}

.metas li{
    color: #fff;
    margin-bottom: 15;
    list-style: none;
    font-size: 18;
    margin-right: 60;
    margin-top: 20;

}

.metas ul{
    background-color: #3e5f33;
    margin-left: 20%;
    border: 5px solid #26421e;
    border-right: none;
}

/*O que queremos*/
.Oquequeremos{
    position: relative;
    top: 60;
}
.Oquequeremos header{
    background-color: rgba(0,0,0, .3);
    margin-right: 68%;
    margin-left: 6%;
    height: 500;
    min-width: 260;
    position: absolute;
}
.Oquequeremos h2{
    color: #fff;
    text-align: left;
    font-size: 50;
    padding-top: 30;
    margin: 20;
}

.Oquequeremos p{
    font-weight: 700;
    text-align: left;
    margin: 20;
    padding-top: 50;
    color: #ffffffbe;
    font-size: 20;
}

/*Objetivos*/
.Objetivos {
    position: relative;
    color: #fff;
    left: 43%;
    width: 50%;
    top: 90;
    font-size: 20;
    min-width: 260;
}

.Objetivos li{
    margin-bottom: 1%;
}

/* Como faremos */

.como {
    position: relative;
    top: 230;
}

.como header{
    background-color: #3e5f33;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    margin-left: 6%;
    height: fit-content;
    font-size: 50;
}

.como p{
    background-color: #ffffffbe;
    height: fit-content;
    padding: 30;
    font-size: 20;
}

.esperamos{
    margin-left: 80;
    font-size: 30;
    color: #fff;
    text-decoration: underline;
}

.como ul{
    margin-left: 60;
    color: #fff;
}

.como li{
    padding-top: 8;
    font-size: 20;
}
/*Rodapé*/
footer{
    background-color: #203819;
    height: 150;
    font-weight: 800;
    text-align: right;
    position: relative;
    top: 380;
    bottom: 0;
    padding-top: 20;
    color: #fff;
}

.creditos{
    text-align: left;
    margin-left: 20;
}